@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
}

<div class="container">
    <main class="row manage__wrapper">
        <h2 class="font-popins fw-bold">Change your account settings</h2>
        <div class="col-md-3 mt-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 mt-4">
            @RenderBody()
        </div>
    </main>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
